.theme-default {
  --background: #eff3f6;
  --background2: #ffffff;
  --background3: #f1f4f5;
  --button: #8b5cf6;
  --primary: #563CF9;
  --secondary: #7863fa;
  --hint: #bfdbfe;
  --text: #313131;
  --text2: #bababa;
  --border: #eaeaea;
  --border2: #dedede;
  --invert: invert(0);

  --connected: rgb(34, 147, 75);
  --connectedBg: rgb(220, 252, 231);
  --disconnected: rgb(185, 28, 28);
  --disconnectedBg: rgb(254, 226, 226);
  --connecting: rgb(253, 126, 20);
  --connectingBg: rgb(250, 186, 133);
  --paired: rgb(0, 123, 255);
  --pairedBg: rgb(225, 237, 248);
}

.between-lines {

  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}



.between-lines span {
  background: var(--background);
  padding: 0 10px;

}

::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
